---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'

import { items } from '../../astro.config.mjs'
import '../styles.css'
import { Icon } from '@astrojs/starlight/components'
---

<StarlightPage
  frontmatter={{ title: 'My custom page', tableOfContents: false }}
>
  {
    items.map(chapter => (
      <div class="item-container">
        <div class="item-header">{chapter.label}</div>
        <div class="item-links">
          {' '}
          {chapter.items.map(lesson => (
            <a href={`${lesson.slug}`} class="item-link">
              • {lesson.label}
            </a>
          ))}
        </div>
      </div>
    ))
  }

  <div style="display: flex; flex-direction: column; align-items: center; margin-top:50px">
    <Icon name="email" size="4rem" />
    <span id="contact-info"
      >If you want to suggest any changes or report a mistake, please contact me
      via the following email:</span
    >
    <strong style="margin-top:10px">learn.everything.app@proton.me</strong>
  </div>
</StarlightPage>

<style>
  .item-container {
    margin-bottom: 20px;
    padding: 15px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }

  .item-header {
    font-weight: bold;
    font-size: 45px;
    color: var(--sl-color-white); /* Zmienne dla koloru */
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  .item-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .item-link {
    font-size: 20px;
    padding: 10px;
    color: var(--sl-color-gray-3); /* Zmienne dla koloru */
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition:
      color 0.3s ease,
      background-color 0.3s ease;
  }

  .item-link:hover {
    color: white;
    background-color: rgba(120, 20, 250, 0.1);
  }

  @media (max-width: 1200px) {
    .item-links {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 900px) {
    .item-header {
      font-size: 35px;
    }

    .item-links {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 800px) {
    #contact-info {
      padding-inline: 25px;
    }
  }

  @media (max-width: 600px) {
    #contact-info {
      text-align: center;
    }
  }

  @media (max-width: 300px) {
    .item-links {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
