---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'

import { items } from '../../astro.config.mjs'
---

<StarlightPage
  frontmatter={{ title: 'My custom page', tableOfContents: false }}
>
  {
    items.map(chapter => (
      <div class="item-container">
        <div class="item-header">{chapter.label}</div>
        <div class="item-links">
          {' '}
          {chapter.items.map(lesson => (
            <a href={`${lesson.slug}`} class="item-link">
              • {lesson.label}
            </a>
          ))}
        </div>
      </div>
    ))
  }
</StarlightPage>

<style>
  .item-container {
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .item-header {
    font-weight: bold;
    font-size: 45px;
    color: #f0f0f0;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  .item-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .item-link {
    font-size: 20px;
    padding: 10px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition:
      color 0.3s ease,
      background-color 0.3s ease;
  }

  .item-link:hover {
    color: white;
    background-color: #007bff;
  }

  @media (max-width: 1200px) {
    .item-links {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 900px) {
    .item-header {
      font-size: 35px;
    }
  }

  @media (max-width: 900px) {
    .item-links {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 300px) {
    .item-links {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .item-link:hover {
    color: white;
    background-color: rgba(106, 90, 205, 0.1);
  }
</style>
