<div style="text-align: center; margin: 20px 0; width: 100%;">
  <button
    class="android"
    style="padding: 15px; 
           background-color: rgb(62, 195, 122); /* Kolor tła przycisku */
           color: #fafafa;
           border-radius: 5px; 
           text-decoration: none; 
           display: block; 
           width: 100%; 
           font-size: 18px; /* Rozmiar czcionki */
           border: none; /* Usunięcie obramowania */
           cursor: pointer;
           letter-spacing: .7px"
  >
    <strong>Want to test yourself? Download a mobile app</strong>
    <span style="display: inline-block; margin-left: 10px;">
      <!-- Ikona telefonu -->
    </span>
  </button>
</div>

<script>
  // Znajdź wszystkie przyciski z klasą 'android' na stronie.
  const buttons = document.querySelectorAll('button.android')

  // Obsłuż kliknięcia każdego z przycisków.
  buttons.forEach(button => {
    button.addEventListener('click', () => {
      // Spróbuj otworzyć aplikację przez deep link
      // window.location = 'quizapp://open'

      // Jeśli aplikacja nie jest zainstalowana, przekieruj do sklepu Google Play po 2 sekundach
      setTimeout(() => {
        window.location.href =
          'https://play.google.com/store/apps/details?id=com.mkaleta.QuizApp.JavaScript'
      }, 0)
    })
  })
</script>
